@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
}

.container {
    width: 600px;
    margin: auto;
    text-align: center;
    justify-content: center;
}

header{
    margin-bottom: 20px;
    margin-top: 20px;
}

main input{
    padding: 8px 16px;
    margin-right: 5px;
    font-size: 16px;
    border-radius: 5px;
}

main form{
    margin-bottom: 50px;
}

header h1{
    font-size: 36px;
}

table{
    margin: auto;
    width: 100%;
}

table th,
td{
    border-bottom: 2px solid #fff;
    padding: 16px;
}

.tableName{
    border-right: 2px solid #fff;
    padding: 0 41px;
}

#addBtn{
    background-color: #490688;
    color: #fff;
    border: none;
    padding: 11px 16px;
}

#contactName,
#contactNumber{
    outline: none;
}

#contactName:focus,
#contactNumber:focus{
    border: 3px solid #490688;
}

#addBtn{
    cursor: pointer;
}

#addBtn:hover{
    color: #000;
    background-color: white;
    transition: 0.3s;
}